/**********************************/
/********* Timeline 5 CSS *********/
/**********************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background: #E94B3C;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2.5px;
}

.container {
    padding: 30px 60px;
    position: relative;
    background: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.container .icon {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 30px;
    right: -30px;
    padding: 9px 0;
    background: #ffffff;
    border: 5px solid #E94B3C;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    color: #E94B3C;
    z-index: 1;
}

.container.right .icon {
    left: -30px;
}

.container .date {
    position: absolute;
    display: inline-block;
    height: 30px;
    min-width: 60px;
    top: 45px;
    padding: 6px 8px;
    background: #E94B3C;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    z-index: -1;
}

.container.left .date {
    right: -86px;
    border-radius: 0 30px 30px 0;
}

.container.right .date {
    left: -86px;
    border-radius: 30px 0 0 30px;
}

.container::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50px;
  right: 28px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent #E94B3C transparent transparent;
}

.container.right::before {
  left: 28px;
  border-color: transparent transparent transparent #E94B3C;
}

.container .content {
    padding: 30px 45px;
    background: #ffffff;
    position: relative;
    border: 5px solid #eeeeee;
    border-radius: 500px 0 500px 500px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.container.right .content {
    border-radius: 0 500px 500px 500px;
}

.container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #E94B3C;
}

.container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #454545;
}

@media (max-width: 767.98px) {
    .timeline::after {
        left: 90px;
    }

    .container {
        width: 100%;
        padding-left: 135px;
        padding-right: 30px;
    }
    
    .container.right {
        left: 0%;
    }

    .container.left .icon, 
    .container.right .icon {
        width: 45px;
        height: 45px;
        top: 37.5px;
        font-size: 18px;
        left: 67.5px;
    }
    
    .container.left::before,
    .container.right::before {
        left: 110px;
        border-color: transparent transparent transparent #E94B3C;
    }
    
    .container.left .date,
    .container.right .date {
        right: auto;
        left: 15px;
        border-radius: 30px 0 0 30px;
    }
    
    .container.left .content,
    .container.right .content {
        border-radius: 0 500px 500px 500px;
    }
}